# Jupyter Book (via myst) build outputs
_build

# pixi environments
.pixi
*.egg-info

# local data folder
/book/data/
# local config folder with PANGAEA bearer token (auth token)
/book/example-notebooks/secret.toml
