aiohttp==3.14.1
asyncmock==0.4.2
cartopy==0.25.0
dask==2026.6.0
fsspec==2026.6.0
holoviews==1.22.1
ipykernel==7.3.0
jupyter==1.1.1
jupyterlite-core==0.7.6
jupyterlite-pyodide-kernel==0.7.2
matplotlib==3.11.0
mystmd==1.10.1
nest-asyncio==1.6.0
netcdf4==1.7.4
numpy==2.5.0
pandas==3.0.3
panel==1.9.3
pangaeapy==1.1.0
pip==26.1.2
pixi-pycharm==0.0.11
pyhdf==0.11.6
pytest-asyncio==1.4.0
python==3.14.6
rst-to-myst==0.4.0
sphinx==7.3.7
toml==0.10.2
xarray==2026.4.0
